.cafe-list {
  padding: 20px;
  display: flex;
  justify-content: center; 
  flex-direction: column;  
}

.cafe-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  align-items: flex-start; 
}

.cafe-item {
  width: 48%; 
  max-width: 500px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.image-container {
  position: relative;
  width: 100%; 
  height: 250px; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.cafe-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.love-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  font-size: 24px; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.love-button.liked {
  color: red; 
}

.love-button:hover {
  background-color: rgba(255, 255, 255, 0.8); 
}

.cafe-details {
  padding: 10px;
  text-align: center; 
}

.view-buttons button {
  margin-top: 10px;
  background-color: orange;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.view-buttons button:hover {
  background-color: darkorange;
}
